@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #78586F;
}

html{
    font-size: 62.5%;
}

li, a, button{
    font-family: "Quicksand";
    font-weight: 400;
    font-size: 2.3rem;
    color: #7b9ea8;
    text-decoration: none;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #e6c79c;
}
button{
    padding: 9px 25px;
    background-color: rgba(123, 158, 168, 0.3);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover{
    background-color: #1d5e70;
    
}