@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #355070;
}

html {
  font-size: 62.5%;
}

li,
a,
button {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 2.3rem;
  color: #b56576;
  text-decoration: none;
}

header {
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  order: 3;
  margin-left: auto;
}

svg {
  color: #b56576;
}

nav {
  order: 1;
}

.nav__links {
  list-style: none;
}
.cta {
  order: 2;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li:nth-child(1) {
  padding: 0 20px 0 0;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #eaac8b;
}
button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(109, 89, 122, 0.3);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #2d435f;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 600px) and (max-width: 767px){
    .container{
        flex-direction: row;
    }
}
